.App {
  background-color: white;
  font-family: var(--bs-font-sans-serif);
  color: #212529;
  margin: 10px;
}

.container1 {
  background-color: lightblue;
  border: 3px solid blue;
  border-radius: 10px;
  padding: 20px;
  margin: 0 auto;
  max-width: 600px;
}

.search {
  width: 50%;
  padding: 5px 25px;
}

.butSearch {
  width: 50px;
  padding: 5px;
}

.butLoc {
  width: 160px;
  padding: 5px;
}

#butC {
  width: 100%;
  padding: 5px;
}

#butC {
  background-color: blue;
  color: white;
  font-weight: bold;
  border: 3px solid blue;
  border-radius: 5px;
  margin: 5px;
  position: relative;
  top: -5px;
}

.one {
  width: 20%;
  text-align: center;
  display: block;
  margin: 0 auto;
  float: center;
  padding: 15px;
}

.container.weekly {
  margin: 0 auto;
  text-align: center;
  font-size: 15px;
}

.container.daily {
  text-align: left;
  vertical-align: middle;
}

p {
  margin: 0;
}

#date {
  font-size: 13px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

#name {
  padding: 20px 0;
}

#city {
  font-size: 30px;
}

#sec {
  padding: 0 15px;
}

#temp1 {
  font-size: 45px;
  padding: 20px 0;
  display: block;
  width: 100px;
  margin-right: 0px;
}

#mainicon {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60px;
  float: right;
}

.col-2 {
    padding: 20px 0;
}

#temperature {
  font-weight: bold;
  color: rgb(33, 33, 33);
  font-size: 64px;
  line-height: 64px;
  font-weight: 400;
}

#units {
  color: rgb(33, 33, 33);
  font-size: 16px;
  font-weight: 400;
  position: relative;
  line-height: 1;
  top: -30px;
}

#propert {
  margin: 0 0 0 40px;
  font-size: 12px;
  padding: 35px 0;
}

.tempicon {
  width: 70px;
  margin: 0 15px 0 0;
}
