.App {
  background-color: white;
  font-family: var(--bs-font-sans-serif);
  color: #212529;
  margin: 10px;
}

.container1 {
  background-color: whitesmoke;
  border: 3px solid blue;
  border-radius: 20px;
  padding: 20px 20px 0 20px;
  margin: 0 auto;
  max-width: 600px;
}

.search {
  width: 50%;
  padding: 5px 25px;
}

.butSearch {
  width: 50px;
  padding: 5px;
}

.butLoc {
  width: 160px;
  padding: 5px;
}

#butC {
  width: 100%;
  padding: 5px;
}

#butC {
  background-color: blue;
  color: white;
  font-weight: bold;
  border: 3px solid blue;
  border-radius: 5px;
  margin: 5px;
  position: relative;
  top: -5px;
}

.one {
  width: 20%;
  text-align: center;
  display: block;
  margin: 0 auto;
  float: center;
  padding: 15px;
}

.two {
  width: 30%;
  padding: 15px 100px 15px 5px;
  margin: 0 auto;
}

.three {
  width: 5%;
}

.four {
  width: 20%;
}

.four {
  width: 20%;
}

.column1 {
  display: block;
  margin: 0 auto;
}

.week {
  width: 20%;
  margin: 0 auto;
  text-align: center;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

#city {
  font-size: 30px;
}

#sec {
  padding: 0 15px;
}

#temp1 {
  font-size: 45px;
}

#propert {
  margin: 0 auto;
  font-size: 12px;
  padding: 35px 0;
}
